.exposition {
	background-color: #666666;

	position: relative;
	z-index: 0;
	width: 100vw;

	display: flex;
	justify-content: center;

	* {
		color: #fff;
	}
}

.exposition__container {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.portrait_container,
.dossier_container {
	background-color: #1a1a1a;
	border-radius: 30px;
	padding: 30px;
}

.portrait_container {
	margin-top: 90px;
	flex: 0 1 30%;
	padding: 90px 30px 30px 30px;
}
.dossier_container {
	margin-top: 120px;
	flex: 0 1 65%;
}

.portrait {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}
.portrait__photo {
	position: absolute;
	width: 150px;
	height: 150px;
	top: 0;
	left: 50%;
	transform: translate(-50%, -160px);
	border-radius: 10px;
	overflow: hidden;
	.portrait__photo_img {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #3a3a3a;
	}
}
.portrait__FIO {
	font-size: 26px;
	padding-top: 12px;
	padding-bottom: 8px;
}
.portrait__profession {
	background-color: #666666;
	border-radius: 6px;
	font-size: 22px;
	padding: 8px 11px;
}
.portrait__icons {
	display: flex;

	.portrait__icon {
		cursor: pointer;
		padding: 16px 5px;
	}
}

.contact {
	background-color: #666666;
	border-radius: 6px;

	width: 90%;
	padding: 8px 11px;

	display: flex;
	flex-direction: column;
}
.contact_item {
	position: relative;
	display: flex;
	align-items: center;
	padding: 8px 10px;
	margin: 4px 0;
	border-radius: 10px;
	transition: all 0.2s ease 0s;
	cursor: pointer;
	&:hover {
		background-color: #1a1a1a;
	}
	.contact_logo {
		padding: 0 16px;
		pointer-events: none;
		user-select: none;
	}
	.contact_info {
		position: relative;
		.contact_title {
			position: relative;
			pointer-events: none;
			user-select: none;
			left: -2px;
			font-size: 18px;
		}
		.contact_text {
			line-height: 24px;
		}
	}
	&:nth-child(1)::before,
	&:nth-child(2)::before {
		content: "";
		position: absolute;
		background-color: #3a3a3a;
		width: 90%;
		height: 1px;
		bottom: -4px;
		left: 5%;
	}
}

.download {
	margin-top: 40px;
	padding: 14px 20px;
	border-radius: 6px;

	font-size: 22px;
	line-height: 26px;
	background: linear-gradient(to right, red, rgb(155, 109, 0));
	display: flex;
	justify-content: space-around;
	align-items: center;

	cursor: pointer;
	* {
		pointer-events: none;
		user-select: none;
		margin: 0 8px;
	}
}

.dossier {
	display: flex;
	flex-direction: column;
}
.dossier__upline {
	display: flex;
	.dossier__upline_text {
		font-size: 30px;
	}
}
.dossier__explain {
	padding: 40px 0;
	p {
		padding: 4px 0;
	}
}

.dossier__skills {
	display: flex;
	flex-direction: column;
	p {
		line-height: 20px;
	}
	margin-bottom: 20px;
}

.dossier__tech_container {
	background-color: #666666;
	border-radius: 12px;
}
.dossier__tech {
	padding: 12px;

	display: flex;
	flex-wrap: wrap;
}
