.header{
	background-color: #1a1a1a;
	width: 100vw;
	max-height: 80px;
	min-height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header * {
	color: #fff;
}

.header__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	
}

.logo{
	display: flex;
	padding: 6px 2px;

}
.logo .logo__picture{


}
.logo .logo__text{

}

.buttons{
	display: flex;
}

.button{
	display: flex;
}
.button .button__container{
	display: flex;
}